html,
body {
	width: 100%;
}

nav {
	display: flex;
	justify-content: space-around;
	background-color: #b8d5cd;
	padding: 18px;
}

.home-page {
	display: flex;
	justify-content: center;
	margin-top: 60px;
}

.search-form {
	display: flex;
}

.search-button {
	color: #b8d5cd;
	background-color: white;
}

@media screen and (max-width: 600px) {
	.search-form {
		flex-direction: column;
	}
	.search-button {
		margin-top: 12px;
	}
}
