html,
body {
	width: 100%;
}

nav {
	display: flex;
	justify-content: space-around;
	background-color: #b8d5cd;
}

.center-text {
	padding-top: 0px;
	padding-bottom: 0px;
}

.home-page {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 90px;
}

.search-form {
	display: flex;
	width: 300px;
	align-self: center;
	margin-bottom: 100px;
}

.search-button {
	color: #b8d5cd;
	background-color: white;
}

.images {
	display: flex;
	justify-content: space-evenly;
}

.popular-images {
	width: 240px;
	height: 200px;
	border-radius: 8px;
}

img.hover-shadow {
	transition: 0.3s;
}

img:hover {
	opacity: 80%;
	width: 300px;
	height: 250px;
}
.hover-shadow:hover {
	box-shadow: 0 17px 18px 0 rgba(0, 0, 0, 0.2), 0 9px 20px 0 rgba(0, 0, 0, 0.19);
}
.cursor {
	cursor: pointer;
}

@media screen and (max-width: 600px) {
	.search-form {
		flex-direction: column;
	}
	.search-button {
		margin-top: 12px;
	}
}
